<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cinema management system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>connecting to DB</description>
    <display-name>jdbc</display-name>
    <servlet-name>jdbc</servlet-name>
    <servlet-class>jdbcproj.jdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbc</servlet-name>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connectiontest</display-name>
    <servlet-name>connectiontest</servlet-name>
    <servlet-class>connectiontest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectiontest</servlet-name>
    <url-pattern>/connectiontest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupservlet</display-name>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>signuppack.signupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>Loginpack.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>Loginpack.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchservlet</display-name>
    <servlet-name>searchservlet</servlet-name>
    <servlet-class>search.searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchservlet</servlet-name>
    <url-pattern>/searchservlet</url-pattern>
  </servlet-mapping>
</web-app>